PORT=4000


# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_NAME=vlabel_db
DB_USER=vlabel_user
DB_PASSWORD=vlabel_password
# Prisma Connection String
DATABASE_URL=postgresql://vlabel_user:vlabel_password@localhost:5433/vlabel_db?schema=public

# JWT Configuration (add your secret)
JWT_SECRET=change-me
# Edit when deploy Production
LOG_LEVEL=debug

